<header>
  <!-- first we made structure to see clearly the pages datas-->
  <div id="titleContainer">
    <img src="./../assets/img/Pokeball_icon-icons.com_67533.svg" alt="" />
    <h1>Pokédex</h1>
    <img src="./../assets/img/Pokeball_icon-icons.com_67533.svg" alt="" />
  </div>

  <div id="containers">
    <a  href="https://pokeapi.co/" target="_blank">
      <img src="./../assets/img/folder_type_api_opened_icon_130044.svg" alt="api">
  </a>
  <a   href="https://github.com/stevenvr27" target="_blank">
      <img src="./../assets/img/github_icon-icons.com_65450.svg" alt="git">
 </a>
  <p>Derechos Reservados &copy; 2024</p>
  </div>

</header>
<!--then we have the  picture and the target controlls-->

<main id="container">
  <app-pokemon-picture [pokemon]="currentPokemon"></app-pokemon-picture>
  <div id="targetController">
    <app-target
      *ngFor="let pokemon of pokemons"
      [pokemon]="pokemon"
      (pokemonClicked)="onPokemonClicked($event)"
    ></app-target>
  </div>
</main>
<footer>
  
</footer>