//this is styles of the principal picture container 
#ContainerPicture{
    border: 5px solid; 
    border-color: black ;
    outline: 10px solid #c29239ad;
    max-width: 500px;
    border-radius: 25px;
    aspect-ratio: 1;
    background: repeating-linear-gradient(
   to bottom,
   #f5f7f9,
   #f5f7f9 15px,
   #c29239ad 15px,
   #ddcb8e 30px );

    

}